{% extends "base.html" %}
{% load static %}

{% block page_title %}
    {{post_details.title}}
{% endblock %}


{% block body_content %}
    {% include "blogs/includes/header.html" %}    
    <img src="{% static 'blogs/images/'|add:post_details.image %}" alt="{{post_details.slug}}">
    <address> {{ post_details.author }} </address>
    <div>
        {% for tag in tags %}
            <span>{{ tag }}</span>
        {% endfor %}
    </div>
    <div>
        <h1>{{ post_details.title }}</h1>
        <h2>Posted on {{ post_details.date|date:"dS M, Y"}}</h2>
    </div>

    <main>
        <p>{{ post_details.content }}</p>
    </main>

    <section>
        <h2>Comments</h2>
        <form action="{% url 'blog-post' post_details.slug %}" method="POST">
            {% csrf_token %}
            {{ comment_form }}
            <button>Save</button>
        </form>
    </section>
{% endblock %}
